@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'gensen';
  src: url('../public/fonts/GenSenRounded-R.ttc');
}

@font-face {
  font-family: 'gensen';
  src: url('../public/fonts/GenSenRounded-B.ttc');
  font-weight: bold;
}

@layer base {
  body {
    font-family: 'gensen', sans-serif;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
