@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'gensen';
  src: url('../public/fonts/GenSenRounded-R.ttc');
}

@font-face {
  font-family: 'gensen';
  src: url('../public/fonts/GenSenRounded-B.ttc');
  font-weight: bold;
}

/* 俐方體 */
@font-face {
  font-family: 'cubic';
  src: url('../public/fonts/Cubic-R.ttf');
}

/* 源界明朝 */
@font-face {
  font-family: 'genkaimincho';
  src: url('../public/fonts/Genkaimincho-R.ttf');
}

/* 源雲明體 */
@font-face {
  font-family: 'genwanmin';
  src: url('../public/fonts/GenWanMin-R.ttc');
}

/* 源雲明體 粗 */
@font-face {
  font-family: 'genwanmin';
  src: url('../public/fonts/GenWanMin-SB.ttc');
  font-weight: bold;
}

/* 瀨戶體 */
@font-face {
  font-family: 'seto';
  src: url('../public/fonts/Seto-R.ttf');
}

/* マメロン圆体 */
@font-face {
  font-family: 'Mamelon';
  src: url('../public/fonts/Mamelon.otf');
}

@layer base {
  body {
    font-family: 'gensen', sans-serif;
  }
}

.shadow-border {
  box-shadow: 0 0 0 10px theme('colors.main-02');
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
